body {font:arial
}

h1 {
    color: #87a295;
}

p {
background-color: #cc9999;
padding: 0;
height: 5px;
width: 150px;
border: 10px solid #87a295;
margin: 1rem auto;
text-align: center center;
color: black
}
